llama-index
llama-index-graph-stores-neo4j
langchain-openai
langgraph
fastapi

deepeval
instructor
firecrawl-py
slowapi
uvicorn
requests
hypothesis
pytest
arize-phoenix
pydantic
openinference-instrumentation-langchain
openinference-instrumentation-openai
typer
rich
invoke
cachetools==7.0.5
python-dotenv
